<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial scale=1.0">
        <title style="color: blanchedalmond;font-family: 'Times New Roman', Times, serif;font-size: 30px;">HOME</title>
    </head>
    <body style="background-image:url(../Static/images/bgold.jpg);background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
        <h1 style="color:red;font-family: 'Times New Roman', Times, serif;font-size: 30px;"><center>WELCOME</center></h1><br>
        <p1 style="color:white;font-family: 'Times New Roman', Times, serif;font-size: medium;"><center>Have a nice day guys</center>"</p1><br>
        <p2 style="color:white;font-family: 'Times New Roman', Times, serif;font-size: medium;"><center>We had really love to know,what made you signup,what you're hoping to learn and how we can help.</center></p2><br>
    </body>
    <div class="project">
        <li><a href="login.html" target="_blank"><center>LOGIN</center></a></li>
        <li><a href="register.html" target="_blank"><center>REGISTER</center></a></li>
        <li><a href="exit.html" target="_blank"><center>EXIT</center></a></li>

    </div>
</html>