<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN</title>
    </head>
    <body style="background-image:url(../Static/images/bgtech.jpg);background-repeat: no-repeat;background-attachment: fixed;background-size: cover;"></body>>
    <form action="DASHBOARD.html">
        <h1 style="color:chartreuse;font-family: 'Times New Roman', Times, serif;font-size: 30px;"><center> WELCOME TO LOGIN</center></h1> <br><br><br>
        <label style="color: crimson;"><b><center>UserName:<input type="text" name="Uname" id="Uname" placeholder="Username"></center>     
        </b>        
        </label>    
        <br><br><br>    
        <label style="color: crimson;"><b><center>Password:<input type="password" name="pass" id="pass" placeholder="Password"></center>     
        </b>        
        </label>    
        <br><br><br> 
        <center> <button type="submit">LOGIN</button></center><br><br>
        <center><button><a href="REGISTER.html">Create User</a></button></center> 
   </form>
    </body>
</html>